header{
    padding: 20px 0;
    background: #27ae60;
}
#nav{
    background: #27ae60;
    border: none;
    color: white;
    list-style: none;
    font-size: 1.2em;
}
#nav-left{
    margin-top: 5px;
}
#nav span:first-child{
    padding: 0 15px;
    display: inline-block;
    width: 124px;
    height: 30px;
    border-right: 1px solid white;
    background: url("http://www.bootcdn.cn/assets/img/bootcdn.svg") no-repeat ;
    background-position: center center;
    background-size: cover;
}
.log{
    display: inline-block;
    width: 124px;
    height: 30px;
    background: url("http://www.bootcdn.cn/assets/img/upyun.svg") no-repeat ;
    background-position: center center;
    background-size: cover;
}
#nav ul a{
    color: white;
    font-size: 1.2em;
    border-bottom: none;
}
.header-content{
    text-align: center;
    color: white;
}
.header-content h1{
    font-size: 56px;
}
.header-content p{
    font-size: 21px;
}
.header-content input{
    margin: 20px 0;
    text-align: center;
}
#nav-img img{
    max-height: 32px;
    vertical-align: bottom;
    margin: 0 5px;
}
.radio span{
    font-size: 10px;
    margin-left: 10px;
}
.content{
    margin-top: 20px;
}
.border{
    padding: 10px 20px;
    color: inherit;
    border: 1px solid rgba(147,153,159,0.2);
    border-bottom: none;
}
.border:hover{
    background:rgba(147,153,159,0.2) ;
}
.more{
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    font-family: 微软雅黑;
    padding-top: 20px;
    border-top: 1px solid rgba(147,153,159,0.2);
    text-align: center;
    color: #27ae60;
}
.footer{
    text-align: left;
    color: white;
    margin-top: 20px;
    padding: 20px 0;
    background: #27ae60;
}
a{
    list-style: none;
    border-bottom: 1px solid white;
    color: white;
}
#log4 img{
    max-height: 60px;
}
.footer2{
    height: 40px;
    background: #26aa5e;
    text-align: center;
    line-height: 40px;
    color: white;
}
#backTop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 80px;
    bottom: 30px;
    font-size: 1.8em;
    color: white;
    text-align: center;
    line-height: 50px;
    background:  #27ae60;
    border-radius: 50%;
}
@media screen and (max-width: 640px){
    #nav-img{
        display: none;
    }
    .radio{
        display: none;
    }
}
