body{
    background: rgba(0,0,0,0.8);

}

.container{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 200px;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(0,0,0);
}
h1{
    text-align: center;
}
input{
    margin-left: 120px;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    margin-top: 20px;
}
input:first-child{
    margin-top: 100px;
}
button{
    border: none;
    background: #62b900;
    height: 31px;
    width: 60px;
    color: white;
    border-radius: 3px;
    margin-left: 10px;
}
span{
    margin-left: 120px;
    display: block;
    font-size: 20px;
    color: #62b900;
}